services:
  java-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: rjram/expense-backend:latest
    container_name: java-backend
    restart: unless-stopped
    init: true
    ports:
      - "8080:8080"
    networks:
      - app-network

  js-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: rjram/expense-frontend:latest
    container_name: js-frontend
    restart: unless-stopped
    init: true
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - java-backend

  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: Learn
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local
